<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <title>About Me</title>
    <link href="css/site.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="./index.html" class="navlink">Home</a>
      <a href="./projects.html" class="navlink">Projects</a>
      <a href="./about.html" class="navlink">About</a>
      <a href="./soon.html" class="navlink">Coming Soon</a>
    </nav>
    <hr/>
    <img src="fldez.jpg" width="275px" alt="desiree"/>
    <h1>Aloha!</h1>
    <p>My name is Desiree.</p>
    <p>I'm currently a student at Ada Developers Academy in Seattle, WA.</p>

  </body>
</html>
