<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
  </head>
  <body>
    <nav>
      <a href="./index.html">Home</a>
      <a href="./projects.html">Projects</a>
      <a href="./about.html">About</a>
      <a href="./soon.html">Coming Soon</a>
    </nav>
    <img src="fldez.jpg" width="275px" alt="desiree"/>
    <h1>Aloha!</h1>
    <p>My name is Desiree.</p>
    <p>I'm currently a student at Ada Developers Academy in Seattle, WA.</p>

  </body>
</html>
