<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <title><%= @title %></title>
    <link href="css/site.css" rel="stylesheet">
  </head>

  <body>
    <div id="container">
      <header>
        <nav>
          <a href="./index.html" class="navlink">Home</a>
          <a href="./projects.html" class="navlink">Projects</a>
          <a href="./about.html" class="navlink">About</a>
          <a href="./soon.html" class="navlink">Coming Soon</a>
        </nav>
        <hr/>
      </header>

    <%= yield %>

    <hr/>
    <footer>
      <p class="half-col">Copyright &copy; <%= Time.now.year %> Desiree Poland</p>
      <p class="half-col">Contact Me</p>
    </footer>
  </div>
  </body>
</html>
