<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
  </head>
  <body>
    <nav>
      <a href="./index.html">Home</a>
      <a href="./projects.html">Projects</a>
      <a href="./about.html">About</a>
      <a href="./soon.html">Coming Soon</a>
    </nav>
    <h1> Coming Soon...</h1>
    <img src="sooncat.jpg" width="275px" alt="soon cat"/>
    <img src="soonhorse.jpg" width="275px" alt="soon horse"/>
    <img src="sooncow.jpg" width="275px" alt="soon cow"/>
    <img src="soonishsloth.jpg" width="275px" alt="soonish sloth"/>

  </body>
</html>
