<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <title>About Me</title>
    <link href="css/site.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a href="./index.html" class="navlink">Home</a>
      <a href="./projects.html" class="navlink">Projects</a>
      <a href="./about.html" class="navlink">About</a>
      <a href="./soon.html" class="navlink">Coming Soon</a>
    </nav>
    <hr/>
    <h1> Coming Soon...</h1>
    <img src="sooncat.jpg" width="275px" alt="soon cat"/>
    <img src="soonhorse.jpg" width="275px" alt="soon horse"/>
    <img src="sooncow.jpg" width="275px" alt="soon cow"/>
    <img src="soonishsloth.jpg" width="275px" alt="soonish sloth"/>

  </body>
</html>
