body {
	width: 960px;
	background-color: #f7f9f9;
	font-family: 'Raleway', Helvetica, sans-serif;
	color: #11131b;
	margin: 0 auto;
	text-align: center
}
h1 {
	font-size: 32px;
	font-weight: bold;
}
.home h1{
	margin-bottom: 0px;
	font-size: 36px;
}
p {
	font-size: 16px;
	color: #11131b;
	font-weight: normal;
}
img {
	margin-top: 2em;
	width: 275px;
}
	.soon img{
		margin-top: 0;
		width: 260px;
		height: 240px;
	}
table{
  margin: 3em auto;
}
tr {
	height: 30px;
	text-align: left;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid;
	border-color: #747070 ;
	margin: 1em 0;
	padding: 0;
}
nav {
	padding: 30px 10px 15px;
}
.navlink {
	padding: 0 50px;
	display: inline;
}
a{
	color: #199C8A;
}
a.navlink:link{
	text-decoration: none;
}
a.navlink:visited{
	text-decoration: none;
}
a.navlink:hover{
	text-decoration: underline;
}
footer {
	display: flex;
	width: 100%;
}
	footer a {
		color: #11131b;
		text-decoration: none;
	}
	footer a:hover {
		color: #11131b;
		text-decoration: underline overline;
	}
.half-col{
	width: 50%;
	font-size: 14px;
	background-color: #AEE8D8;
}
.half-col:first-child {
	text-align: left;
	height: 50%;
}
.half-col:last-child {
	text-align: right;
	font-weight: bold;
}
.home .social-media img{
	margin: 0;
	width: 32px;
	height: 32px;
}
.contact .social-media img{
	width: 75px;
	height: 75px;
	margin: 0 20px;
}
.social-media{
	display: inline-block;
 	padding: 10px;
 	transition: all .2s ease-in-out;
}
.social-media:hover {
 transform: rotate(360deg);
}
